.getPlayer-btn {
  width: 80px;
  background-color: #2a3704;
  color: #e1c3c3;
  font-size: 17px;
}
.rps-btn button, .htmlBtn {
  margin: 10px 10px;
  height: 100px;
  width: 100px;
  background-color: #412808;
  border-radius: 50px;
}
.htmlBtn {
  height: 70px;
  width: 70px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.action-btn button, .htmlBtn, .rps-btn button, .getPlayer-btn, .ruleSection p {
  cursor: pointer;
  transition: opacity 0.5s;
  border: none;
}
.action-btn button {
  width: 80px;
  height: 30px;
  margin: 20px 2px;
  border-radius: 3px;
  color: white;
}
.action-btn {
  margin-left: 6%;
}
.resetBtn {
  background-color: #9c1818;
}
.autoPlayBtn {
  background-color: #b58611;
}
.champBtn {
  background-color: #063e03;
}
.getPlayer-btn:hover, .resetBtn:hover, .autoPlayBtn:hover, .champBtn:hover, .rps-btn button:hover {
  opacity: 0.8;
}
.getPlayer-btn:hover, .resetBtn:active, .autoPlayBtn:active, .champBtn:active, .rps-btn button:active {
  opacity: 0.5;
}