* {
  padding: 0;
  margin: 0;
}
body {
  white-space: nowrap;
  color: wheat;
  background-color:rgb(33, 49, 7);
  padding: 5px;
  font-family: arial;
  display: grid;
  grid-template-columns: 1fr;
  

}
h3 {
  color: white;
  margin: 3%;
  word-spacing: 2px;
  letter-spacing: 2px;
}
#main{
  background-color:rgb(14, 2, 2);
  padding: 5%;
  display: flex;
  flex-direction: column;

}

.inputHeader {
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
}
input::placeholder {
  padding: 3%;
  font-size: 16px;
}

input, .getPlayer-btn {
  width: 50%;
  height: 35px;
  border-radius: 4px;
  border: none;
}

.getPlayer-btn {
  width: 80px;
  background-color: rgb(41, 54, 2);
  color: rgb(225, 195, 195);
  font-size: 17px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.getPlayer-btn:hover {
  opacity: 0.9;
}
.getPlayer-btn:active {
  opacity: 0.7;
}

.playersInfo {
  margin: 3% 1%;
  display: flex;
  justify-content: space-around;
  max-width: 350px;
  border-bottom: 1px solid gray;
}

 img {
  width: 70%;
  height: 70%;
  border-radius: 70%;
  background-color: transparent;
  object-fit: contain;
  align-content: center;
}
.playGameBtn {
  border-radius: 70%;
  width: 100px;
  height: 100px;
}
.rps-btn button {
  column-gap: 10px;
  margin-top: 30px;
  height: 100px;
  width: 100px;
  background-color: rgba(42, 8, 8, 0.532);
  border: none;
}
