* {
  padding: 0;
  margin: 0;
}
body {
  white-space: nowrap;
  color: rgb(242, 239, 234);
  background-color:rgb(14, 2, 2);
  padding: 5px;
  font-family: arial;
}
h3 {
  margin: 6% 0 0 6%;
  word-spacing: 2px;
  letter-spacing: 2px;
}
#main{
  padding: 5%;
  flex-direction: column;
  max-width: 650px;
}
.endGame img, img, .htmlImage, input, .getPlayer-btn {
  width: 55%;
  height: 55%;
}
.inputHeader {
  margin-bottom: 10px;
  font-size: 20px;
}
input::placeholder,input {
  padding: 0 1%;
  font-size: 16px;
}
input, .getPlayer-btn {
  height: 35px;
  border-radius: 4px;
  border: none;
}
input {
  box-shadow: inset 2px 2px 3px rgba(0,0,0,0.3);
}
.playersDiv, .playerNames{
  border-bottom: 1px solid white;
  max-width: 270px;
  margin-left: 30px; 
}
.playerNames {
  border: none;
  font-weight: 450;
  padding-bottom: 8%;
}
.playersDiv, .playerNames, .moves{
  display: flex;
  justify-content: space-around;
}
img, .htmlImage{
  object-fit: contain;
  align-content: center;
}
.outcome, .endGame {
  padding: 3%;
  border: 0 solid transparent;
  background-color: rgb(33, 1, 1);
  border-radius: 10px;
  width: 300px;
}
.endGame {
  background-color: rgb(65, 2, 2);
}
.endGame img {
  object-fit: contain;
}
.endGame div {
  font-size: 20px;
  color: rgb(222, 217, 205);
  text-transform: uppercase;
}
.moves p, .winnerDisplay, .endGame div,
.playersDiv, .playerNames {
  font-weight: 550;
}
.moves p, .endGame div {
  font-style: italic;
}
.moves p {
  padding: 10px 0;
  margin-left: -10px;
}
.winnerDisplay {
  padding-bottom: 3%;
}
.scoreDisplay, .playersDiv, .playerNames{
  white-space: wrap;
  padding: 3% 0;
}
.resetScore {
  padding: 0 5%;
}